<section class="wrapper">
  <h3>
    <%= link_to admin_words_path do %>
      <i class="fa fa-angle-right">
        <%= t ".title" %>
      </i>
    <% end %>
  </h3>
  <div class="row mt">
    <div class="col-md-9">
      <section>
        <div class="panel-heading">
          <div class="pull-left">
            <h5>
              <i class="fa fa-tasks">
              </i>
            </h5>
          </div>
        </div>
        <div class="panel-body">
          <div>
            <ul>
              <li>
                <label class="bold">
                  <%= t ".content" %>
                </label>
                <span>

                    <!--To Do: Code Content Category Each Here -->
                  
                </span>
              </li>
              <li>
                <label class="bold">
                  <%= t ".content_category" %>
                </label>
                <span>
                    <!--To Do: Code Content Category Name Here -->
                  
                </span>
              </li>
            </ul>
          </div>
          <div class="add-task-row">
            <!--To Do: Edit Button Here -->
            <%= link_to t(".edit"), edit_admin_word_path(@word),
              class: "btn btn-success btn-sm pull-left" %>
            <!--To Do: New Button Here -->
            <%= link_to t(".add"), new_admin_word_path(@word),
              class: "btn btn-default btn-sm pull-right" %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>