<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t ".panel_title" %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="row user-profile">
          <%= link_to image_tag "seed/default.jpg" %>
        </div>
        <div class="row user-profile">
          <%= t ".sample_user" %>
        </div>
        <div class="row user-profile">
          <%= t ".sample_output" %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 col-md-4"> 
          <div class="thumbnail"> 
            <%= link_to image_tag("logo.png", alt: "Words logo", size:"400x400" ) %>
            <div class="caption">
              <p><%= link_to t(".button_words"), words_path, class: "btn btn-primary btn-lg" %></p>
            </div>
          </div> 
        </div>
        <div class="col-sm-6 col-md-4"> 
          <div class="thumbnail"> 
            <%= link_to image_tag("logo.png", alt: "Lessons logo", size:"400x400" ) %>
            <div class="caption"> 
              <p><%= link_to t(".button_lessons"), categories_path, class: "btn btn-primary btn-lg" %><p> 
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>